websocket-client==0.47.0
PyHamcrest==1.9.0
pylint>=2.1.1
autopep8>=1.4.3
python-dateutil==2.8.0
pytz==2018.5
aenum==2.1.2
yahoo-finance-pynterface==1.0.4
matplotlib==3.0.3
sklearn==0.20.3
talib==0.4.17
